# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/logs

# misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Coverage directory
.nyc_output
secrets/secret

# Dependency directory
node_modules
dist
coverage
**/*.key*
.DS_Store
src/keys/**
# keep the keys folder
!src/keys/.gitkeep
.env
logs
