// Colors
$white: #f0f1f6;

$text: #191820;
$text-lighten: rgb(180, 180, 180);
$text-darken: #a3a3a3;
$text-darken-more: #a3a3a3;

$gray: #aaa;
$gray-lighten: #bbb;
$gray-lighten-more: #eee;
$gray-lighten-more-more: #e9ebee;
$gray-darken: #b8beca;
$gray-border: #e4e9f0;

$black: #05040e;
$black-lighten: #1f1f1f;
$black-lighten-more: #1f1f1f;

$blue: #75819b;
$blue-darken: #112246;
$orange: #f2a654;
$yellow: yellow;

$menuBg: #1f1f1f;
$menuBg-darken: #1f1f1f;

// Accent colors
$default: #a3a3a3;
$primary: #0d0d0d;
$secondary: #313a46;
$success: #46be8a;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;

// Font Family
$base__font-family: 'Nunito Sans', sans-serif !important;

// Font Size
$base__font-size: 13 !default;

// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor(($px/$base) * 100) / 100}rem; // to REMs
  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}

// Transitions
@mixin transition-fast() {
  transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
  transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
  transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
  transition: all 0.4s ease-in-out;
}
@mixin transition-color() {
  transition: color 0.2s ease-in-out;
}

// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 576px;
$xs-max-width: 575px;
